

    body {
        background-color: rgb(152, 184, 10);

        font-family: 'Times New Roman', Times, serif;

        font-size: 16px;
    }

    h1 {
        color: rgb(255, 4, 4);
        background-color: antiquewhite ;
    }

    p{
        color: rgb(19, 19, 16);
        text-align: justify;
    }


